# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/.pnp
.pnp.js
/frontend/public

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#python
__pycache__
local_settings.py
/backend/getData/constantes.py

#DB
db.sqlite3
node_modules


# https://github.com/cljung/py-rest-api/blob/master/deploy/az-webapp-create-py.sh
# https://blog.redbaronofazure.com/?p=7667
# https://docs.microsoft.com/en-us/answers/questions/192218/deploy-azure-function-with-pipeline-and-build-on-s.html
